body{
    background-color: whitesmoke;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content:center;
}
.c-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.heading {
    margin: 40px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}
.img {
    max-width: 80%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.d-heading {
    font-size: 30px;
    font-family: Space Mono;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 5px;
}
.d-details {
    font-style: 30px;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 3px;
    line-height: 30px;

}
.btn {
    margin-top: 50px;
    width: 200px;
    height: 70px;
    color: white;
    background-color: #262626
    ;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #2e004d

    ;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.me {
    margin-top: 90px;
    margin-bottom: 0px;
text-align: center;
font-family: sans-serif;
}
@media (max-width:500px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .img {
        margin-top: 60px;
        width: 60%;
    }
    .container {
        width: 80%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }

    .d-heading {
        font-size: 25px;
        font-weight: bold;
       
    }
    .btn {
        width: 170px;
        height: 50px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #2e004d

        ;
    }
}